# Environment or secret files (if you ever create them)
.env
.env.local

# Firebase config files (if you ever add them)
.firebase/
.firebaserc
firebase.json
firebase-debug.log

# OS junk files
.DS_Store
Thumbs.db

# Logs
*.log
